#navbar{
    max-width: 100%;
    height: 197px;
    position: relative;
    left: 0px;
    top: 0px;
    background-color: #1694C1;
}

#itens_esquerda{
    height: 197px;
    width: 400px;
    display: flex;
    margin-left: 10px;
    align-items: flex-end;
}

#logo_hotel{
    width: 162px;
    height: 162px;

}

#nome_hotel{
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: lighter;
    padding-bottom: 15px;
}

#itens_direita{
    position: absolute;
    height: 197px;
    width: 220px;
    right: 14%;
    top: 20%;
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
    justify-self: flex-end;
    font-size: 60px;
}

a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#inicio{
    margin: 20px;
}

#pacotes{
    margin: 20px;
}