{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ricardo Morato Rocha</title>
    <link href="https://fonts.googleapis.com/css?family=Jomolhari|Lato|McLaren|Montserrat|Open+Sans|Roboto|Roboto+Condensed|Yeon+Sung&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>
<body class="padrao">

        {% for imagem in imagemPerfil %} <!--Agora a imagem de perfil também é editável-->
        <div>
            <img class="imagem_perfil" src="{{ imagem.imagem.url }}" alt="Imagem de perfil">
        </div>
        {% endfor %}

    {% for info in infos %} <!--Inicia um laço que itera sobre o array de pessoas enviado como contexto pela view-->
        <div class="pessoal">
            <p>Nome: Ricardo Morato Rocha</p>
            <p>Idade: {{ info.idade }}</p>

            {% if info.namora %}
                <p>Namora: SIM</p>
            {% else %}
                <p>Namora: NÃO :=(</p>
            {% endif %}

            <p>Pensamento sobre o CITi: {{ info.entrar_CITi }}</p>
        </div>
    {% endfor %}


    <h3 class="subtitles">Meus hobbys:</h3>
    {% for hobby in hobbys %}
        <div class="gostos">
            <ul>
                <li>{{ hobby.atividade }}</li>
            </ul>
        </div>
    {% empty %} <!--Se não tiver nenhum hobby cadastrado pelo admin, essa mensagem será mostrada-->
        <h5>Ultimamente não tenho feito nada de interessante ;-;</h5>
    {% endfor %}


    {% if coisas_que_nao_sou_bom %} <!--Só mostra essa seção se existir alguma coisa nela-->
        <h3 class="subtitles">Coisas que eu gosto, mas não sou tao bom:</h3>
        {% for coisa in coisas_que_nao_sou_bom %}
            <div class = "gostos">
                <ol class = "listinha_odernada">
                    <li>{{ coisa.atividade }}</li>
                </ol>
            </div>
        {% endfor %}
    {% endif %}


    {% if obras_de_entretenimento %}
        <h3 class="subtitles">Minhas obras favoritas de entretenimento:</h3>
        <div class="gostos">
            {% for obra in obras_de_entretenimento %}
                <ul>
                    <a href="{{ obra.url_sobre_a_obra }}">
                        <li>{{ obra.nome_da_obra }}</li>
                    </a>
                </ul>
            {% endfor %}
        </div>
    {% endif %}

    <h3 class="subtitles">Imagens de algumas coisas que eu gosto:</h3>
    <h5 calss="subtitles">Clique para ser redirecionado para saber um pouco mais sobre cada coisa</h5>
    <div class="coisas_que_gosto">

        <a href="https://pt.wikipedia.org/wiki/Programa%C3%A7%C3%A3o_de_computadores">
            <img class="imagem" src="https://miro.medium.com/max/10913/0*ruAV5iyZ4Dt6768j" alt="">
        </a>

        <a href="https://pt.wikipedia.org/wiki/F%C3%ADsica">
            <img class="imagem" src="https://images-na.ssl-images-amazon.com/images/I/41EGT-KEOuL.jpg" alt="">
        </a>

        <a href="https://pt.wikipedia.org/wiki/C%C3%A1lculo">
            <img class="imagem" src="https://images-na.ssl-images-amazon.com/images/I/510c3Td59TL._SX373_BO1,304,303,300_.jpg" alt="">
        </a>

        <a href="https://pt.wikipedia.org/wiki/Age_of_Mythology">
            <img class="imagem" src="https://upload.wikimedia.org/wikipedia/pt/thumb/f/fe/Age_Of_Mythology.jpg/300px-Age_Of_Mythology.jpg" alt="">
        </a>

        <a href="https://pt.wikipedia.org/wiki/Hamilton_(musical)">
            <img class="imagem" src="https://www.broadwaysd.com/wp-content/uploads/2017/12/hamilton-main-1.jpg" alt="">
        </a>

        {% for imagens in imagens_coisas_que_gosto %}
            <a href="{{ imagens.url_sobre_a_imagem }}">
                <img src="{{ imagens.url_imagem }}" alt="{{ imagens.imagem_upload }}">
            </a>
        {% endfor %}
    </div>

</body>
</html>